---
import { filterPostsCondition } from "@utils/get-static-paths-filtered";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Feed from "@components/Feed.astro";
import type { BlogPostEntry } from "@content/config";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blogCategory");

  return blogEntries.map((category) => ({
    params: { blogCategory: category.slug },
    props: { category },
  }));
}

const {
  category: {
    slug: category,
    data: {
      seoDescription,
      seoTitle,
      tabTitle,
      title,
      featuredPosts: categoryFeaturedPosts,
    },
    render,
  },
} = Astro.props;

const { Content } = await render();

const categoryPosts = await getCollection(
  "blogPost",
  (entry) =>
    filterPostsCondition(entry) && (category ? entry.slug.startsWith(category) : true),
);

const [featuredPosts, latestPosts] = categoryPosts.reduce(
  (accumulator, post) => {
    accumulator[
      categoryFeaturedPosts.some((featuredPost) => featuredPost.slug === post.slug)
        ? 0
        : 1
    ].push(post);

    return accumulator;
  },
  [[], []] as BlogPostEntry[][],
);

latestPosts.sort(({ data: { pubDate: prevPost } }, { data: { pubDate: nextPost } }) => {
  /**
      In order to sort by date in descending order (from latest to oldest) you must
      subtract the next post date minus the previous post date.
    */
  const getTimestamp = (postDate?: Date) => (postDate ? postDate.getTime() : 0);

  return getTimestamp(nextPost) - getTimestamp(prevPost);
});
---

<BaseLayout seoDescription={seoDescription} seoTitle={seoTitle} tabTitle={tabTitle}>
  <main>
    <div class="content-centered">
      <h1>{title}</h1>
      <Content />
      {
        !!featuredPosts.length && (
          <section>
            <h2>Featured posts</h2>
            <Feed posts={featuredPosts} isFeatured />
          </section>
        )
      }
      {
        !!latestPosts.length && (
          <section>
            <h2>Latest published posts</h2>
            <Feed posts={latestPosts} />
          </section>
        )
      }
    </div>
  </main>
</BaseLayout>
