---
import { getBlogCollection, getBlogEntries } from "@utils/get-static-paths-filtered";
import { getEntry } from "astro:content";
import { Picture } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import Feed from "@components/Feed.astro";
import TableOfContent from "@components/TableOfContent/index.astro";

export async function getStaticPaths() {
  const blogEntries = await getBlogCollection();

  return blogEntries.map((post) => ({
    params: { blogPost: post.slug },
    props: { post },
  }));
}

const {
  post: {
    data: { author, cover, relatedPosts, seoDescription, seoTitle, tabTitle, title },
    render,
  },
} = Astro.props;

const {
  data: { alt: coverAlt, metadata: coverMetadata },
} = await getEntry(cover);

const { Content, headings } = await render();

const filteredPosts = await getBlogEntries(relatedPosts);

const {
  data: { description, label, linkedIn, name, profilePicture },
} = await getEntry(author);

const {
  data: { alt: profilePictureAlt, metadata: profilePictureMetadata },
} = await getEntry(profilePicture);
---

<BaseLayout seoDescription={seoDescription} seoTitle={seoTitle} tabTitle={tabTitle}>
  <main>
    <div class="small-layout">
      <h1>{title}</h1>
      <Picture
        src={coverMetadata}
        alt={coverAlt}
        width={885}
        widths={[480, 885]}
        sizes="(max-width: 885px) 100vw, 885px"
        formats={["avif", "webp"]}
        loading="eager"
        class="fit-container"
      />
      <TableOfContent headings={headings} />
      <Content />
    </div>
  </main>
  <aside class="postAuthor">
    <div class="small-layout">
      <h2>About the author</h2>
      <Picture
        src={profilePictureMetadata}
        alt={profilePictureAlt}
        width={200}
        formats={["avif", "webp"]}
      />
      <h3>{name}</h3>
      <h4>{label}</h4>
      <p>{description}</p>
      <a href={linkedIn}>Read more in LinkedIn</a>
    </div>
  </aside>
  {
    !!filteredPosts.length && (
      <aside class="relatedPost">
        <div class="small-layout">
          <h2>You might also like</h2>
          <Feed posts={filteredPosts} />
        </div>
      </aside>
    )
  }
</BaseLayout>
