---
import { getBlogEntries } from "@utils/get-static-paths-filtered";
import { getEntry } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Feed from "./Feed.astro";
import type { BlogPostEntry } from "@content/config";

export interface Props {
  post: BlogPostEntry;
}

const {
  post: {
    data: { author, relatedPosts, seoDescription, seoTitle, tabTitle },
    render,
  },
} = Astro.props;

const { Content } = await render();

const filteredPosts = await getBlogEntries(relatedPosts);

const {
  data: { description, label, linkedIn, name },
} = await getEntry(author);
---

<BaseLayout seoDescription={seoDescription} seoTitle={seoTitle} tabTitle={tabTitle}>
  <main>
    <Content />
  </main>
  <aside class="postAuthor">
    <h2>About the author</h2>
    <h3>{name}</h3>
    <h4>{label}</h4>
    <p>{description}</p>
    <a href={linkedIn}>Read more in LinkedIn</a>
  </aside>
  {
    !!filteredPosts.length && (
      <aside class="relatedPost">
        <h2>You might also like</h2>
        <Feed posts={filteredPosts} />
      </aside>
    )
  }
</BaseLayout>
